.assetmgt_list_2{
    overflow: unset !important;
}
.forms {
    padding: 0 12px 12px 12px;
    overflow: auto;
    .card_base {
        box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.1);
        padding-bottom: 1rem;

        .ant-row {
            .ant-form-item-control-input-content {
                display: flex;

                .ant-form-item {
                    margin-bottom: 0;
                }
            }

            .colors {
                span {
                    display: flex;
                    width: 100%;
                }
            }
        }

        .views {
            margin-left: 40%;
            box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.1);

            .ant-card-body {
                width: 68vw;
                padding: 24px !important;
                display: flex;
                justify-content: center;
                align-items: center;

                .style1 {
                    border-color: #02CFCE;
                }

                .style2 {
                    border-color: #7DA2D3;
                }

                .style3 {
                    border-color: #00DCE4;
                    box-shadow: inset 13px 9px 6px -3px rgba(6, 127, 132, 0.5);
                }

                .style4 {
                    border-color: #03B8E9;
                }

                .diamond {
                    width: 211px;
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    -webkit-transform: skew(-33deg);
                    -moz-transform: skew(-33deg);
                    -o-transform: skew(-33deg);
                    border-width: 3px;
                    border-style: solid;
                    .title {
                        -webkit-transform: skew(33deg);
                        -moz-transform: skew(33deg);
                        -o-transform: skew(33deg);
                    }
                }

            }
        }
    }
}