.screen-view {
  position: fixed;
  top: 0;
  .screen1 {
    position: relative;
    .screen1-cont {
      display: flex;
      align-items: center;
      position: absolute;
      right: 1%;
      top: 2%;
      z-index: 9999;
      .back1 {
        // width: 100px;
        // position: absolute;
        color: #fff;
        cursor: pointer;
        // margin-left: 5px;
        img {
          width: 18px;
          height: 18px;
        }
      }
      .screen-groups {
        margin-right: 4px;
      }
      .choose_screen1 {
        // z-index: 9999;
        cursor: pointer;
        color: #f0f0f0;
        margin: 0 7px;
        // font-size: 14px;
        // .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        //   background: transparent;
        // }
        // .ant-select-arrow {
        //   color: #fff;
        // }
        // .ant-select-clear {
        //   background: #000;
        //   color: #fff;
        // }
        // .ant-select {
        //   color: #fff;
        // } 
      }
    }
   
  }
  .screen-icon {
    cursor: pointer;
    color: #f0f0f0;
    width: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.ant-dropdown-menu-item-selected {
  background-color: #fff!important;
  color: #4D83FF;
}
#logFrame {
  min-width: 100vw;
  min-height: 100vh;
  border: 0;
  overflow: hidden;
  // ::-webkit-scrollbar {
  //   display: none;
  // }
}