.screen-view {
  position: fixed;
  top: 0;
  .screen1 {
    position: relative;
    .back1 {
      // width: 100px;
      position: absolute;
      color: #fff;
      right: 3%;
      top: 2%;
      cursor: pointer;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
#logFrame {
  min-width: 100vw;
  min-height: 100vh;
  border: 0;
}
::-webkit-scrollbar {
  display: none;
}