.screen-view {
  position: fixed;
  // ::-webkit-scrollbar {
    // display: none;
  // }
  top: 0;
  .screen1 {
    position: relative;
    .screen1-cont {
      display: flex;
      align-items: center;
      position: absolute;
      right: 1%;
      top: 2%;
      z-index: 9999;
      .back1 {
        // width: 100px;
        // position: absolute;
        color: #fff;
        cursor: pointer;
        margin-left: 5px;
        img {
          width: 25px;
          height: 25px;
        }
      }
      .choose_screen1 {
        // z-index: 9999;
        color: #fff;
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
          background: transparent;
        }
        .ant-select-arrow {
          color: #fff;
        }
        .ant-select {
          color: #fff;
        } 
      }
    }
   
  }
}
#logFrame {
  min-width: 100vw;
  min-height: 100vh;
  border: 0;
  overflow: hidden;
}