.ai-solution {
  padding-left: 40px;
  margin: 20px 0;

  .ai-top {
    width: 98.6%;
    height: 32px;
    background: #d7e7ff;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #82b4ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    .ai-title {
      > img {
        margin-right: 5px;
      }
    }
    .ai-show {
      cursor: pointer;
      color: #0066ff;
      .ai-show-text {
        padding-right: 5px;
      }
    }
  }

  .ai-content {
    .ai-card {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      .ai-card-item {
        width: 287px;
        height: 165px;
        background: url("/image/solution/card.jpg") no-repeat;
        background-size: 100% 100%;
        margin: 0 15px 15px 0;
        padding: 0 5px 0 12px;
        &:last-child {
          margin-right: 0;
        }
        .ai-card-item-title {
          font-family: SourceHanSansSC, SourceHanSansSC;
          font-weight: bold;
          font-size: 12px;
          color: #333333;
          line-height: 28px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .ai-card-item-wrap {
          height: 95px;
          // overflow: hidden;
          .ai-card-item-content {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; /* 控制显示行数 */
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .ai-card-item-btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .btn-left {
            img {
              width: 12px;
              height: 12px;
              margin-right: 7px;
              cursor: pointer;
            }
          }
          .btn-right {
            width: 62px;
            height: 23px;
            line-height: 20px;
            background: #2178e3;
            border-radius: 3px 3px 3px 3px;
            border: 1px solid #43e2ff;
            text-align: center;
            margin-right: 5px;
            color: #fff;
            font-size: 11px;
            cursor: pointer;
          }
        }
      }
    }
    .ai-search {
      width: 50%;
      margin: auto;
      .ai-search-input {
        .ai-input {
          .ant-input-wrapper {
            input {
              border-color: #2178e3;
              background: #ebf3ff;
              color: #2679dd;
              border-right: none;
              box-shadow: none;
              &::placeholder {
                color: #2679dd;
              }
            }
            // &:hover {
            //   border-right: none;
            // }
          }
          // .ant-input-affix-wrapper-focused {
          //   border-color: #2178e3;
          //   background: #ebf3ff;
          //   box-shadow: none;
          //   border-right: none;
          // }
          .ant-btn-default {
            border-left: none;
            border-color: #2178e3;
            background: #ebf3ff!important;
            color: #2679dd;
            &:hover {
              border-left: none;
            }
          }
         
          // .ant-input-clear-icon {
          //   color: #2178e3;
          // }
        }
      }
    }
  }
}

.ai-detail {
  .ai-detail-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 15px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    background: url("/image/solution/title-card.png") no-repeat;
    background-size: 100% 100%;
  }
  .ai-des {
    margin-top: 8px;
  }
}

.ai-keywords {
  display: flex;
  margin: 12px 0 3px;
  overflow-x: auto;
  padding-bottom: 3px;
  &::-webkit-scrollbar {
    height: 5px;
  }
  .ai-keyword {
    white-space: nowrap;
    box-sizing: border-box;
    background: #97f9ff;
    border-radius: 1px;
    border: 1px solid #3fc2ff;
    margin-right: 7px;
    padding: 0px 5px;
    font-size: 11px;
    color: #005fb0;
  }
}

.ai-search-des {
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
  align-items: center;
  color: #2178e3;
  .r-des {
    margin-right: 10px;
    > img {
      width: 12px;
      height: 12px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
.ai-search-cont {
  width: 100%;
  min-height: 100px;
  background: #f5f9ff;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #2178e3;
  // opacity: 0.8;
  font-size: #333;
  padding: 15px;
  .ant-collapse {
    background: #eef4fd;
  }
}
