.nav-bar {
    position: absolute;
    bottom: 43px;
    right: 28px;
    // width: 100px;
    // height: 100px;
    // background: red;
    z-index: 9999999;
    // width: 85px;
    // height: 75px;
    .r-robot {
      display: flex;
      justify-content: space-between;
      .robot {
        width: calc((85 / 1920) * 100vw);
        height: calc((75 / 1920) * 100vw);
        background: url(/image/ai/robot.png) no-repeat;
        background-size: 100% 100%;
        // margin-left: 80%;
        cursor: move;
      }
    }
    .r-dialog {
      width: calc((475 / 1920) * 100vw);
      height: calc((487 / 1920) * 100vw);
      background: #FFFFFF;
      box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.3);
      border-radius: calc((11 / 1920) * 100vw);
      margin-bottom: 5px;
      padding: calc((10 / 1920) * 100vw);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .ai-top {
        text-align: center;
        margin-top: calc((27 / 1920) * 100vw);
        .ai-logo {
          width: calc((71 / 1920) * 100vw);
          height: calc((65 / 1920) * 100vw);
        }
        .ai-title {
          font-family: Microsoft YaHei, Microsoft YaHei;
          font-weight: 700;
          font-size: calc((14 / 1920) * 100vw);
          color: #333333;
          line-height: 18px;
          text-align: center;
          font-style: normal;
          text-transform: none;
          margin-top: 5px;
        }
      }
      .ai-content {
        height: calc((340 / 1920) * 100vw);
        overflow-y: auto;
        padding: 0px 5px 5px;
        font-size: calc((14 / 1920) * 100vw);
        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }
        .ai-user {
          margin: 10px 0;
          display: flex;
          justify-content: flex-end;
          .user-text {
            display: inline-block;
            max-width: 85%;
            background: #539FF7;
            border-radius: 3px;
            color: #fff;
            padding: 2px 4px;
          }
        }
        .ai-ai {
          display: flex;
          .ai-lrobot {
            width: calc((24 / 1920) * 100vw);
            height: calc((24 / 1920) * 100vw);
          }
          .ai-answer {
            max-width: 85%;
            // height: 345px;
            background: #F7F7F7;
            border-radius: 3px;
            margin-left: 5px;
            padding: 2px 4px;
            color: #525252;
          }
          .dark-answer {
            background: #205A96;
            color: #fff;
          }
        }
      }
      .ai-bottom {
        .ai-form {
          .ant-form-item {
            margin-bottom: 0;
          }
          .ai-note {
            border: 0;
            border-top: 1px solid #d9d9d9;
            resize: none;
            outline: none;
          }
          /* 覆盖antd TextArea获得焦点时的边框样式 */
          .ai-note:focus {
            border: 0;
            border-top: 1px solid #d9d9d9;
            box-shadow: none !important; /* 移除焦点时的阴影 */
            outline: none !important; /* 移除可能的轮廓线 */
          }
          .dark-note {
            background: #35649E;
            color: #fff!important;
            border-top: 1px solid #598CCA!important;
          }
          .ai-send {
            display: flex;
            justify-content: space-between;
            .ai-icon {
              width: calc((36 / 1920) * 100vw);
              height: calc((24 / 1920) * 100vw);
              cursor: pointer;
            }
          }
        }
       
      }
     
    }
  }

// input
input::placeholder {
  // font-size: 12px;
  line-height: 18px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}