.target-modal {
  .table-td-fullBG {
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  th,
  td {
    text-align: center;
  }
  td {
    padding: 1px !important;
    line-height: unset !important;
  }
}
