.ant-table-row {
  transition: all 0.3s;

  &:hover {
    background-color: #fafafa;
  }
}

.batch-operation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 18px;
}

.column-config-table-row .ant-form-item {
  margin-bottom: 0;
}
