.alert-rules-container {
  display: flex;
}
.alert-rules-list-container {
  width: 100%;
  padding: 16px;
  overflow: scroll;
  .table-text {
    line-height: 1.4;
    display: inline-block;
  }
}

.alert-rules-left-area-group {
  background: #FFFFFF;
  border-radius: 12px 12px 12px 12px;
  padding: 10px;
  .left-area-group-title {
    border-bottom: 1px solid #e5e8ef;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .left-area-group-title-bar {
      width: 4px;
      height: 16px;
      background: #1C76FD;
      border-radius: 2px;
      margin-right: 8px;
      flex-shrink: 0;
    }
  }
}