.table-content {
    .ant-space-item {
        margin: 0 .3rem;
        .items{
            display: flex;
            align-items: center;
            cursor: pointer;
            .text{
                margin-left: .3rem;
            }
        }
        .anticon-video-camera,
        .anticon-file-protect,
        .anticon-file-search,
        .anticon-edit,
        .anticon-fund,
        .anticon-search {
            color: #1890FF;
            font-size: 16px;
            font-weight: 900;
        }

        .anticon-delete {
            color: rgb(245, 49, 70);
            font-size: 16px;
            font-weight: 900;
        }
    }

}